body{
    width: 100%;
    height: 100%;
    font-family: fantasy;
    background: url(pic9.png) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
h1{
    margin-top: 300px;
    color: rgb(255, 60, 0);
    cursor: pointer;
}
hr{
    border-color: chartreuse;
    border-width: 3px;
    max-width: 65px;
}
.btn-xl{
    padding: 1.5rem 3rem;
    border-radius: 25px;
    background-color:lime;
    color: black;
    font-weight: bold;
    font-size: 2rem;
    border: 2px solid lime;
    transition: 0.5s;
    font-family: 'Times New Roman', Times, serif;
}
.btn-xl:hover{
    background-color: black;
    border: 2px solid black;
    color: white;

}
.btn-xl:visited{
    background-color: black;
}
